<div id="wrapper">
    <h1>Comment on positive news articles!</h1>
    <h2><i>Check out these articles and let us know what you think.</i></h2>
    <div id="articles"></div>
    <div id="comments"></div>
</div>